<%- include('partials/header') %>
<form action="/offer/<%= offer.id %>/edit?_method=PATCH" method="post" class="part">
  <input type="hidden" name="id" value="<%= offer.id %>" />

  <label for="title">Titulek</label>
  <input type="text" name="title" value="<%= offer.title %>" />
  <label for="text">Text</label>
  <textarea name="text" cols="30" rows="10"><%= offer.text %></textarea>

  <label for="public">Stav inzerátu</label>
  <select name="public">
    <option value="false" <% if (!offer.public) { %>
      selected <% } %>>Soukromý
    </option>
    <option value="true" <% if(offer.public) { %>
      selected <% } %>>Veřejný
    </option>
  </select>

  <label for="price">Cena</label>
  <input type="number" name="price" min="0" value="<%= offer.price %>" />

  <input type="submit" value="Uložit změny" />
</form>
<%- include('partials/footer') %>
