<%- include('partials/header') %> <% if (!offers) { %> V databázi nejsou žádné
nabídky <% } else { %>
<div class="offers">
  <% offers.forEach(e => { %>

  <div class="offer-wrapper part">
    <a href="/offer/<%= e.id %>"> <%= e.title %> </a>
    <p>
      <%= e.text %> <br />
      Cena: <%= e.price %> <br />
      Autor: <%= e.author.name %> <br />
      E-mail: <%= e.author.email %> <br />
      Telefon: <a href="tel:<%= e.author.phone %>"><%= e.author.phone %></a>
    </p>

    <% if (locals.user && (e.author._id == locals.user.id)) { %>
    <div class="offer-buttons">
      <a href="/offer/<%= e.id %>/edit">Upravit</a>
      <a href="/offer/<%= e.id %>/delete">Smazat</a>
    </div>
    <% } %>
  </div>

  <% }) %> <% } %>
</div>
<%- include('partials/footer') %>
